:root { /*Attribute, die mehrmals auftauchen, als Variablen deklarieren*/
    --lines-clip: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0 100%, 0.8% 0);
    --tree-parts-clip: polygon(24% 1%, 21% 19%, 15% 49%, 9% 72%, 1% 96%, 12% 89%, 20% 87%, 28% 90%, 37% 91%, 47% 86%, 57% 88%, 66% 84%, 75% 83%, 84% 86%, 91% 83%, 100% 90%, 92% 69%, 87% 50%, 82% 26%, 77% 0, 68% 1%, 56% 6%, 41% 1%, 32% 10%);
    --tree-top-clip: polygon(2% 97%, 10% 80%, 17% 61%, 25% 43%, 35% 17%, 43% 1%, 52% 1%, 59% 16%, 68% 36%, 76% 53%, 85% 69%, 98% 96%, 90% 92%, 82% 86%, 71% 86%, 56% 83%, 44% 88%, 29% 87%, 18% 89%, 7% 93%);
    --lighbulbs-animation-duration:4s;
    --snowflakes-animation-duration: 1600ms;
    --snowflakes-copy-animation-duration: 1500ms;
}

@keyframes snowfall { /*animiert den Schneeschauer am Fenster*/
    0% {visibility: hidden;
       }
    10% {
        transform: translateY(3.6vh) translateX(0.5vw);
        visibility: visible;
    }

    30% {
        transform: translateY(10.8vh) translateX(-0.5vw);
        visibility: visible;
    }

    50%{
        transform: translateY(18vh) translateX(0.5vw);
        visibility: visible;
    }

    70% {
        transform: translateY(25.2vh) translateX(-0.5vw);
        visibility: visible;
    }

    90%{
        transform: translateY(32.4vh) translateX(0.5vw);
        visibility: visible;
    }

    100% {
        transform: translateY(34vh) translateX(-0.5vw);
        visibility: hidden;
    }
}

@keyframes blinking-red {  /*animiert den Farbwechsel von den Glühbirnen von den Lichketten*/
    0%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    12.5%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    25%   {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    37.5%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    50%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    62.5%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    75%   {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    87.5%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    100%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }

  }

@keyframes blinking-green {/*animiert den Farbwechsel von den Glühbirnen von den Lichketten*/
    0%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    12.5%   {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    25%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    37.5%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    50%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    62.5%   {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    75%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    87.5%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    100%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
}

@keyframes blinking-blue {/*animiert den Farbwechsel von den Glühbirnen von den Lichketten*/
    0%   {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    12.5%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    25%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    37.5%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    50%   {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    62.5%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    75%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    87.5%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    100%  {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
}

@keyframes blinking-gold {/*animiert den Farbwechsel von den Glühbirnen von den Lichketten*/
    0%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    12.5%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    25%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    37.5%   {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    50%  {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
    62.5%   {
        background-color: red;
        box-shadow: 0 0 1vw 0.3vw red;
    }
    75%  {
        background-color: green;
        box-shadow: 0 0 1vw 0.3vw green;
    }
    87.5%  {
        background-color: blue;
        box-shadow: 0 0 1vw 0.3vw blue;
    }
    100%   {
        background-color: gold;
        box-shadow: 0 0 1vw 0.3vw gold;
    }
}

html, body { /*animiert den Farbwechsel von den Glühbirnen von den Lichketten*/
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkred;
}

#room { /*definiert die Hinterwand*/
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 0vw;
    bottom: 0vh;
    background-color: #835b2b;
    border-bottom: 30vh solid #ac8757; /*definiert den Boden vom Zimmer durch den unteren Border vom Room-Element(spart clipping)*/
    border-left: 20vw solid #745025; /*definiert die linke Wand vom Zimmer durch den linken Border vom Room-Element(spart clipping)*/
}

.floor-lines { /*setzt die Bodenstreifen*/
    position: absolute;
    height: 1vh;
    background-color: #5d2906;
}

#floor-line-1 { /*setzt den untersten Bodenstreifen*/
    position: absolute;
    bottom: 5vh;
    right: 0;
    width: 96.7vw;
    height: 1vh;
    clip-path: var(--lines-clip)
}

#floor-line-2 { /*setzt den mittleren Bodenstreifen*/
    position: absolute;
    bottom: 15vh;
    right: 0;
    width: 90vw;
    height: 1vh;
    clip-path: var(--lines-clip)
}

#floor-line-3 { /*setzt den oberen Bodenstreifen*/
    position: absolute;
    bottom: 25vh;
    right: 0;
    width: 83.4vw;
    height: 1vh;
    clip-path: var(--lines-clip)
}

#window { /*setzt das Fenster*/
    position: absolute;
    top: 15vh;
    right: 25vw;
    width: 25vw;
    height: 35vh;
    background: #131862;
    border: 1vw solid #361600;
    border-style: outset;
}

#window-border { /*setzt Fenster border...*/
    z-index: 512; /*...damit Schnee aussieht, als würde es von hinten fallen*/
    position: absolute;
    top: 15vh;
    right: 25vw;
    width: 25vw;
    height: 35vh;
    border: 1vw solid #361600;
    border-style: outset;
}

#tree-log { /*setzt den Stamm vom Tannenbaum*/
    position: absolute;
    bottom: 10vh;
    left: 25vw;
    width: 5vw;
    height: 10vh;
    background: #5d2906;
}

.tree-part { /*setzt die Größe der teilen vom Tannenbaum*/
    height: 25vh;
    background: darkgreen;
    clip-path: var(--tree-parts-clip);
}

#tree-star { /*setzt den Weihnachtsbaumstern*/
    position: absolute;
    top: 7vh;
    left: 23vw;
    width: 8vw;
    height: 8vw;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); /*setzt die Forme vom Weihnachtsbaumstern*/
    background-color: goldenrod;
}

#arrow { /*macht einen Pfeil für die nächste Seite aufrufen*/
    margin: 0 1vw 0 0.5vw;
    border: solid white;
    border-radius: 0.25vw;
    border-width: 0 1vw 1vw 0;
    display: inline-block;
    padding: 1vw;
    transform: rotate(-45deg);
}

#back-side-button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100vh;
    background-color: transparent;
    align-items: center;
    vertical-align: middle;
}

#back-side-button:hover {
    background-color: #333333;
    opacity: 0.6;
}

#tree-star:hover { /*Stern wird 10% größer beim Hover*/
    scale: 1.1;
}

#star-glow { /*setzt den Sternenglanz*/
    position:absolute;
    top: 12vh;
    left: 26vw;
    background: goldenrod;
    width: 2vw;
    height: 2vw;
    box-shadow: 0 0 7vw 5vw goldenrod;
    border-radius: 50% 50%;
}

#tree-top { /*setzt den obersten Teil vom Baum*/
    position: absolute;
    top: 15vh;
    left: 17.5vw;
    width: 20vw;
    clip-path: var(--tree-top-clip);
}

#tree-middle-1 { /*setzt den drittuntersten Teil vom Baum*/
    position: absolute;
    top:30vh;
    left: 16.5vw;
    width: 22vw;
}
#tree-middle-2 { /*setzt den zweituntersten Teil vom Baum*/
    position: absolute;
    top: 45vh;
    left: 15.5vw;
    width: 24vw;
}
#tree-middle-3 { /*setzt den untersten Teil vom Baum*/
    position: absolute;
    top: 60vh;
    left: 14.5vw;
    width: 26vw;
}

.tree-balls { /*setzt die Attribute von den Kugeln aufm Baum*/
    width: 3vw;
    height: 3vw;
    border-radius: 50% 50%;
}

.tree-balls:hover { /*Kugeln werden 10% größer beim Hover*/
    scale: 1.1;
}

#tree-ball-1 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 23vh;
    left: 22vw;
    background: #b11703;
    box-shadow: 0 0 6vw 1vw #BD200C;
}


#tree-ball-2 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 27vh;
    left: 32vw;
    background: #05668D;
    box-shadow: 0 0 6vw 1vw #05668D;
}

#tree-ball-3 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 35vh;
    left: 27vw;
    background: #C59849;
    box-shadow: 0 0 6vw 1vw #C59849;
}


#tree-ball-4 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 45vh;
    left: 20vw;
    background: powderblue;
    box-shadow: 0 0 6vw 1vw powderblue;
}

#tree-ball-5 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 48vh;
    left:34vw;
    background: rgb(11, 119, 108);
    box-shadow: 0 0 6vw 1vw rgb(11, 119, 108);
}

#tree-ball-6 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 54vh;
    left: 26vw;
    background: rgb(253, 187, 63);
    box-shadow: 0 0 6vw 1vw rgb(253, 187, 63);
}

#tree-ball-7 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 62vh;
    left: 17vw;
    background: rgb(1, 119, 7);
    box-shadow: 0 0 6vw 1vw rgb(1, 119, 7);
}
#tree-ball-8 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 64vh;
    left: 30vw;
    background: rgb(36, 120, 247);
    box-shadow: 0 0 6vw 1vw rgb(36, 120, 247);
}
#tree-ball-9 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 72vh;
    left: 22vw;
    background: rgb(255, 136, 0);
    box-shadow: 0 0 6vw 1vw rgb(255, 136, 0);
}
#tree-ball-10 { /*definiert weiteren attributen für jeden Kugel*/
    position:absolute;
    top: 75vh;
    left: 36vw;
    background: rgb(197, 4, 4);
    box-shadow: 0 0 6vw 1vw rgb(197, 4, 4);
}

#lightbulb-line-big { /*definiert die "Afhängung" von der größen Lichterkette*/
    width:79.8vw;
    height:1vh;
    border: solid 0.3vw #000;
    border-color: transparent transparent #000 transparent;
    border-radius: 0 0 240% 50%/20vw;
    position:absolute;
    top: 0;
    right: 0;
    padding: 0px;
    margin-right: 0vw;
}

.lightbulbs { /*definiert Attribute von den Glühbirnen von der größen Lichterkette */
    width: 2vh;
    height: 2vh;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 40% 100%;
    border-top-right-radius: 40% 100%;
    top: 2vh;
}

#lightbulb-1 { /*definiert weitere Attributen für jede Glühbirne(Glühbirne 1 ist im Eck vom Zimmer)*/
    position: absolute;
    left: 21vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
    animation-name: blinking-red; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-2 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 25vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
    animation-name: blinking-green; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-3 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 29vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
    animation-name: blinking-blue; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-4 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 33vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
    animation-name: blinking-gold; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}
#lightbulb-5 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 37vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
    animation-name: blinking-red; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-6 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 41vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
    animation-name: blinking-green; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-7 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 45vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
    animation-name: blinking-blue; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-8 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 49vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
    animation-name: blinking-gold; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}
#lightbulb-9 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 53vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
    animation-name: blinking-red; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-10 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 57vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
    animation-name: blinking-green; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-11 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 61vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
    animation-name: blinking-blue; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-12 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 65vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
    animation-name: blinking-gold; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-13 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 69vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
    animation-name: blinking-red; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-14 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 73vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
    animation-name: blinking-green; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-15 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 77vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
    animation-name: blinking-blue; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-16 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 81vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
    animation-name: blinking-gold; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}


#lightbulb-17 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 85vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
    animation-name: blinking-red; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-18 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 89vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
    animation-name: blinking-green; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}


#lightbulb-19 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 93vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
    animation-name: blinking-blue; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-20 { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 97vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
    animation-name: blinking-gold; /*weist Animation zu der Glühbirne zu*/
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-line-small {  /*definiert die "Afhängung" von der kleinen Lichterkette*/
    width:26vw;
    height:1vh;
    border: solid 0.3vw #000;
    border-color: transparent transparent #000 transparent;
    border-radius: 0 0 240% 50%/20vw;
    position:absolute;
    top: 8.1vw;
    left: -3.6vw;
    transform: rotate(-43grad); /*um -43 grad rotieren*/
}

.lightbulbs-small { /*definiert Attributen von den Glühbirnen auf der linken Wand*/
    width: 2vh;
    height: 2vh;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 40% 100%;
    border-top-right-radius: 40% 100%;
    transform: rotate(-45grad); /*Glühbirnen um -45 grad rotieren*/
}

#lightbulb-1-small { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 19vw;
    top: 3vh;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
    animation-name: blinking-gold;
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-2-small { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 16vw;
    top: 8vh;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
    animation-name: blinking-blue;
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-3-small { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 13vw;
    top: 13vh;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
    animation-name: blinking-green;
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-4-small { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 10vw;
    top: 18vh;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
    animation-name: blinking-red;
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-5-small { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 7vw;
    top: 23vh;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
    animation-name: blinking-gold;
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-6-small { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 4vw;
    top: 28vh;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
    animation-name: blinking-blue;
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#lightbulb-7-small { /*definiert weitere Attributen für jede Glühbirne*/
    position: absolute;
    left: 1vw;
    top: 33vh;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
    animation-name: blinking-green;
    animation-duration:var(--lighbulbs-animation-duration); /*setzt den Dauer von Animation*/
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
}

#moon { /*setzt den Stern am Fenster*/
    position: absolute;
    top: 21vh;
    right: 28vw;
    width: 5vw;
    height: 5vw;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 55% 74%, 60% 51%, 59% 25%); /*setzt die Forme der Mond*/
    background-color: powderblue;
    opacity: 0.9;
}

.snowflakes { /*definiert die Attributen für die Schneeflocken*/
    width: 1vw;
    height: 1vw;
    border-radius: 50% 50%;
    box-shadow: 0 0vw 0.2vw 0.1vw #ffffff;
}

#snowflake-1 {  /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 27vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.1s; /*setzt den Delay von der Animation*/
}
#snowflake-2 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 29vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.3s; /*setzt den Delay von der Animation*/
}
#snowflake-3 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 31vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.2s; /*setzt den Delay von der Animation*/
}
#snowflake-4 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 33vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.11s; /*setzt den Delay von der Animation*/
}
#snowflake-5 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 35vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.24s; /*setzt den Delay von der Animation*/
}
#snowflake-6 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 37vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.3s; /*setzt den Delay von der Animation*/
}
#snowflake-7 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 39vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1s; /*setzt den Delay von der Animation*/
}
#snowflake-8 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 41vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.2s; /*setzt den Delay von der Animation*/
}
#snowflake-9 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 43vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.1s; /*setzt den Delay von der Animation*/
}
#snowflake-10 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 45vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.2s; /*setzt den Delay von der Animation*/
}
#snowflake-11 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 47vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.4s; /*setzt den Delay von der Animation*/
}
#snowflake-12 { /*definiert weitere Attributen für jede Schneeflocke*/
    position: absolute;
    top: 16vh;
    right: 49vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 1.2s; /*setzt den Delay von der Animation*/
}

#snowflake-1-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 27vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.2s; /*setzt den Delay von der Animation*/
}
#snowflake-2-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 29vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.1s; /*setzt den Delay von der Animation*/
}
#snowflake-3-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 31vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.4s; /*setzt den Delay von der Animation*/
}
#snowflake-4-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 33vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2s; /*setzt den Delay von der Animation*/
}
#snowflake-5-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 35vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.5s; /*setzt den Delay von der Animation*/
}
#snowflake-6-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 37vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.3s; /*setzt den Delay von der Animation*/
}
#snowflake-7-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 39vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2s; /*setzt den Delay von der Animation*/
}
#snowflake-8-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 41vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.2s; /*setzt den Delay von der Animation*/
}
#snowflake-9-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 43vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.1s; /*setzt den Delay von der Animation*/
}
#snowflake-10-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 45vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.2s; /*setzt den Delay von der Animation*/
}
#snowflake-11-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 47vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.4s; /*setzt den Delay von der Animation*/
}
#snowflake-12-copy { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 49vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 2.2s; /*setzt den Delay von der Animation*/
}

#snowflake-1-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 27vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 4.2s; /*setzt den Delay von der Animation*/
}
#snowflake-2-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 29vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 4.1s; /*setzt den Delay von der Animation*/
}
#snowflake-3-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 31vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.4s; /*setzt den Delay von der Animation*/
}
#snowflake-4-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 33vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3s; /*setzt den Delay von der Animation*/
}
#snowflake-5-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 35vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.5s; /*setzt den Delay von der Animation*/
}
#snowflake-6-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 37vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.3s; /*setzt den Delay von der Animation*/
}
#snowflake-7-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 39vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3s; /*setzt den Delay von der Animation*/
}
#snowflake-8-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 41vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.2s; /*setzt den Delay von der Animation*/
}
#snowflake-9-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 43vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.1s; /*setzt den Delay von der Animation*/
}
#snowflake-10-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 45vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.2s; /*setzt den Delay von der Animation*/
}
#snowflake-11-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 47vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.4s; /*setzt den Delay von der Animation*/
}
#snowflake-12-copy-1 { /*definiert weitere Attributen für jede Schneeflocke (werden für die zweite welle von Animation benutzt)*/
    position: absolute;
    top: 15vh;
    right: 49vw;
    background-color: white;
    visibility: hidden; /*setzt die Visibility erstmal auf 'hidden' */
    animation-name: snowfall;
    animation-duration: var(--snowflakes-copy-animation-duration);
    animation-iteration-count: infinite; /*setzt die Animation auf Dauerschleife*/
    animation-delay: 3.2s;
}

#door {
    position: absolute;
    right: 0;
    bottom: 30vh;
    width: 15vw;
    height: 55vh;
    background-color: #CCAA66;
    border-top: 5vh solid #221100;
    border-left: 5vh solid #332211;
}

#doorknob {
    position: absolute;
    right: 11vw;
    top: 45vh;
    width: 2vw;
    height: 2vw;
    border-radius: 50% 50%;
    background-color: #111122;
    box-shadow: 0 0.1vw 1vw 0.1vw #111122;

}


/*beginn rückseite*/


iframe { /*setzt iframe etwa 16:9*/
    width: 25vw;
    height: 14vw;
    overflow: hidden; /*gibt abgerundete ecke durch 'abschneiden' was über container geht*/
    border-radius: 1vw;
}

img {
    overflow: hidden;
    border-radius: 1vw;
    width: 100%;
}

h1 {
    font-size: 20pt;
    font-family: Cooper; /*ändert Font zu Cooper*/
}

h2 {
    font-size: 20pt;
    font-family: Cooper;
}

.text {
    font-size: 16pt;
    font-family: Cooper;
}

.sourcetext {
    font-size: 8pt;
    font-family: Arial;
    color: white;
    font-style: italic;
}

#qrcode { /*setzt den QR Code oben rechts*/
    position: absolute;
    top: 0;
    right: 0;
    width: 15vw;
    height: 15vw;
}

#arrow-back { /*macht einen Pfeil für die vorherige Seite aufrufen*/
    margin: 0 1vw 0 0.5vw;
    border: solid white;
    border-radius: 0.25vw;
    border-width: 0 1vw 1vw 0;
    display: inline-block;
    padding: 1vw;
    transform: rotate(135deg) translate(-50%);
}

#front-side-button {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 5vw;
    height: 100vh;
    background-color: transparent;
    align-items: center;
    vertical-align: middle;
}

#front-side-button:hover {
    background-color: #333333;
    opacity: 0.6;
}

.card { /*gibt der card Klasse gleiche Breite wie iframe*/
    width: 25vw;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.25);
    border-radius: 2vw;
    background-color: #037a31;
}

#cardtext {
    padding: 1vw 1vw;
    text-align: justify; /*setzt Text Blocksatz*/
}

.container {
    padding: 1vw 1vw;
}

#lcenter{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}

.center {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rcenter {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
}
