:root {
    --lines-clip: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0 100%, 0.8% 0);
    --tree-parts-clip: polygon(50% 0, 65% 25%, 80% 40%, 100% 50%, 65% 60%, 50% 60%, 35% 60%, 0 50%, 20% 40%, 35% 25%);
    --tree-balls-clip: circle(50% at 50% 50%); /* unused */
    --tree-ellipse-clip: ellipse(25% 46% at 50% 50%);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
}

#container {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: #000044;
}

#room {
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 0vw;
    bottom: 0vh;
    background-color: #835b2b;
    border-bottom: 30vh solid #ac8757;
    border-left: 20vw solid #745025;
}

.floor-lines {
    position: absolute;
    height: 1vh;
    background-color: #5d2906;
}

#floor-line-1 {
    position: absolute;
    bottom: 5vh;
    right: 0;
    width: 96.7vw;
    height: 1vh;
    clip-path: var(--lines-clip)
}

#floor-line-2 {
    position: absolute;
    bottom: 15vh;
    right: 0;
    width: 90vw;
    height: 1vh;
    clip-path: var(--lines-clip)
}

#floor-line-3 {
    position: absolute;
    bottom: 25vh;
    right: 0;
    width: 83.4vw;
    height: 1vh;
    clip-path: var(--lines-clip)
}

#window {
    position: absolute;
    top: 15vh;
    right: 15vw;
    width: 25vw;
    height: 35vh;
    background: darkblue;
    border: 1vw solid #361600;
}

#tree-log {
    position: absolute;
    bottom: 20vh;
    left: 30vw;
    width: 5vw;
    height: 10vh;
    background: #5d2906;
}

.tree-part {
    height: 35vh;
    background: darkgreen;
    clip-path: var(--tree-parts-clip);
}

#tree-top {
    position: absolute;
    top: 5vh;
    left: 22.5vw;
    width: 20vw;
}

#tree-middle-1 {
    position: absolute;
    top: 20vh;
    left: 21.5vw;
    width: 22vw;
}
#tree-middle-2 {
    position: absolute;
    top: 35vh;
    left: 20.5vw;
    width: 24vw;
}
#tree-middle-3 {
    position: absolute;
    top: 50vh;
    left: 19.5vw;
    width: 26vw;
}

.tree-balls {
    width: 3vw;
    height: 3vw;
    border-radius: 50% 50%;
}

#tree-ball-1 {
    position:absolute;
    top: 22vh;
    left: 25vw;
    background: #BD200C;
    box-shadow: 0 0 6vw 2vw #BD200C;
}

#tree-ball-2 {
    position:absolute;
    top: 36vh;
    left: 38vw;
    background: #C59849;
    box-shadow: 0 0 6vw 2vw #C59849;
}

#tree-ball-3 {
    position:absolute;
    top: 60vh;
    left: 25vw;
    background: #05668D;
    box-shadow: 0 0 6vw 2vw #05668D;
}

#tree-ball-4 {
    position:absolute;
    top: 12vh;
    left: 33vw;
    background: green;
    box-shadow: 0 0 6vw 2vw green;
}

#tree-ball-5 {
    position:absolute;
    top: 38vh;
    left: 28vw;
    background: turquoise;
    box-shadow: 0 0 6vw 2vw turquoise;
}

#tree-ball-6 {
    position:absolute;
    top: 60vh;
    left: 25vw;
    background: orange;
    box-shadow: 0 0 6vw 2vw orange;
}

.lightbulbs {
    width: 2vh;
    height: 2vh;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border-top-left-radius: 40% 100%;
    border-top-right-radius: 40% 100%;
    top: 2vh;
}

#lightbulb-1 {
    position: absolute;
    left: 21vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
}

#lightbulb-2 {
    position: absolute;
    left: 25vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
}

#lightbulb-3 {
    position: absolute;
    left: 29vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
}

#lightbulb-4 {
    position: absolute;
    left: 33vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
}
#lightbulb-5 {
    position: absolute;
    left: 37vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
}

#lightbulb-6 {
    position: absolute;
    left: 41vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
}

#lightbulb-7 {
    position: absolute;
    left: 45vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
}

#lightbulb-8 {
    position: absolute;
    left: 49vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
}
#lightbulb-9 {
    position: absolute;
    left: 53vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
}

#lightbulb-10 {
    position: absolute;
    left: 57vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
}

#lightbulb-11 {
    position: absolute;
    left: 61vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
}

#lightbulb-12 {
    position: absolute;
    left: 65vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
}

#lightbulb-13 {
    position: absolute;
    left: 69vw;
    background: red;
    box-shadow: 0 0 1vw 0.3vw red;
}

#lightbulb-14 {
    position: absolute;
    left: 73vw;
    background: green;
    box-shadow: 0 0 1vw 0.3vw green;
}

#lightbulb-15 {
    position: absolute;
    left: 77vw;
    background: blue;
    box-shadow: 0 0 1vw 0.3vw blue;
}

#lightbulb-16 {
    position: absolute;
    left: 81vw;
    background: gold;
    box-shadow: 0 0 1vw 0.3vw gold;
}